{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true,
        "targets": {
          "browsers": "> 1%",
        }
      }
    ],
    "@babel/preset-react",
  ],
  "plugins": [
    "syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ],
    "react-hot-loader/babel",
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "production": {
      "presets": ["babili"]
    }
  }
}
