.rails-bootstrap-forms-date-select select,
.rails-bootstrap-forms-time-select select,
.rails-bootstrap-forms-datetime-select select {
  display: inline-block;
  width: auto;
}

.rails-bootstrap-forms-error-summary {
  margin-top: 10px;
}
/*

 */
/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
/* line 5, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  position: relative;
  height: 12px;
  margin: 14px 6px 10px;
  padding: 4px 0;
  cursor: pointer;
  -ms-touch-action: none;
  touch-action: none;
}

/* line 25, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-vertical {
  width: 12px;
  height: 100%;
  margin: 6px 10px;
  padding: 0 4px;
}

/* line 31, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-vertical .ant-slider-rail {
  width: 4px;
  height: 100%;
}

/* line 35, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-vertical .ant-slider-track {
  width: 4px;
}

/* line 38, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-vertical .ant-slider-handle {
  margin-bottom: -7px;
  margin-left: -5px;
}

/* line 42, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-vertical .ant-slider-mark {
  top: 0;
  left: 12px;
  width: 18px;
  height: 100%;
}

/* line 48, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-vertical .ant-slider-mark-text {
  left: 4px;
  white-space: nowrap;
}

/* line 52, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-vertical .ant-slider-step {
  width: 4px;
  height: 100%;
}

/* line 56, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-vertical .ant-slider-dot {
  top: auto;
  left: 2px;
  margin-bottom: -4px;
}

/* line 61, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-with-marks {
  margin-bottom: 28px;
}

/* line 64, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-rail {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #f5f5f5;
  border-radius: 2px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

/* line 73, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-track {
  position: absolute;
  height: 4px;
  background-color: #91d5ff;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

/* line 81, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-handle {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-top: -5px;
  margin-left: -7px;
  background-color: #fff;
  border: solid 2px #91d5ff;
  border-radius: 50%;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  cursor: pointer;
  -webkit-transition: border-color 0.3s, -webkit-box-shadow 0.6s, -webkit-transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: border-color 0.3s, -webkit-box-shadow 0.6s, -webkit-transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28), -webkit-box-shadow 0.6s, -webkit-transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

/* line 98, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-handle:focus {
  border-color: #46a6ff;
  outline: none;
  -webkit-box-shadow: 0 0 0 5px rgba(24, 144, 255, 0.2);
  box-shadow: 0 0 0 5px rgba(24, 144, 255, 0.2);
}

/* line 104, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-handle.ant-tooltip-open {
  border-color: #1890ff;
}

/* line 107, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider:hover .ant-slider-rail {
  background-color: #e1e1e1;
}

/* line 110, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider:hover .ant-slider-track {
  background-color: #69c0ff;
}

/* line 113, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  border-color: #69c0ff;
}

/* line 116, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-mark {
  position: absolute;
  top: 14px;
  left: 0;
  width: 100%;
  font-size: 14px;
}

/* line 123, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-mark-text {
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.45);
  text-align: center;
  cursor: pointer;
}

/* line 130, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-mark-text-active {
  color: rgba(0, 0, 0, 0.65);
}

/* line 133, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
}

/* line 139, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-dot {
  position: absolute;
  top: -2px;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  background-color: #fff;
  border: 2px solid #e8e8e8;
  border-radius: 50%;
  cursor: pointer;
}

/* line 150, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-dot:first-child {
  margin-left: -4px;
}

/* line 153, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-dot:last-child {
  margin-left: -4px;
}

/* line 156, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-dot-active {
  border-color: #8cc8ff;
}

/* line 159, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-disabled {
  cursor: not-allowed;
}

/* line 162, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-disabled .ant-slider-track {
  background-color: rgba(0, 0, 0, 0.25) !important;
}

/* line 165, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-disabled .ant-slider-handle,
.ant-slider-disabled .ant-slider-dot {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.25) !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}

/* line 173, /home/oleg/work/bizness/shop/node_modules/antd/lib/slider/style/index.css */
.ant-slider-disabled .ant-slider-mark-text,
.ant-slider-disabled .ant-slider-dot {
  cursor: not-allowed !important;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
/* line 5, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 44px;
  height: 22px;
  line-height: 20px;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: all 0.36s;
  transition: all 0.36s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 34, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-inner {
  display: block;
  margin-right: 6px;
  margin-left: 24px;
  color: #fff;
  font-size: 12px;
}

/* line 41, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-loading-icon,
.ant-switch::after {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 18px;
  cursor: pointer;
  -webkit-transition: all 0.36s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: all 0.36s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  content: ' ';
}

/* line 55, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch::after {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
}

/* line 59, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch:not(.ant-switch-disabled):active::before,
.ant-switch:not(.ant-switch-disabled):active::after {
  width: 24px;
}

/* line 63, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-loading-icon {
  z-index: 1;
  display: none;
  font-size: 12px;
  background: transparent;
}

/* line 69, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-loading-icon svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* line 77, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-loading .ant-switch-loading-icon {
  display: inline-block;
  color: rgba(0, 0, 0, 0.65);
}

/* line 81, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-checked.ant-switch-loading .ant-switch-loading-icon {
  color: #1890ff;
}

/* line 84, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

/* line 89, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch:focus:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 93, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-small {
  min-width: 28px;
  height: 16px;
  line-height: 14px;
}

/* line 98, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-small .ant-switch-inner {
  margin-right: 3px;
  margin-left: 18px;
  font-size: 12px;
}

/* line 103, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-small::after {
  width: 12px;
  height: 12px;
}

/* line 107, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-small:active::before,
.ant-switch-small:active::after {
  width: 16px;
}

/* line 111, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-small .ant-switch-loading-icon {
  width: 12px;
  height: 12px;
}

/* line 115, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-small.ant-switch-checked .ant-switch-inner {
  margin-right: 18px;
  margin-left: 3px;
}

/* line 119, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-small.ant-switch-checked .ant-switch-loading-icon {
  left: 100%;
  margin-left: -13px;
}

/* line 123, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-small.ant-switch-loading .ant-switch-loading-icon {
  font-weight: bold;
  -webkit-transform: scale(0.66667);
  -ms-transform: scale(0.66667);
  transform: scale(0.66667);
}

/* line 129, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-checked {
  background-color: #1890ff;
}

/* line 132, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-checked .ant-switch-inner {
  margin-right: 24px;
  margin-left: 6px;
}

/* line 136, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-checked::after {
  left: 100%;
  margin-left: -1px;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

/* line 143, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-checked .ant-switch-loading-icon {
  left: 100%;
  margin-left: -19px;
}

/* line 147, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-loading,
.ant-switch-disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

/* line 152, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-loading *,
.ant-switch-disabled * {
  cursor: not-allowed;
}

/* line 156, /home/oleg/work/bizness/shop/node_modules/antd/lib/switch/style/index.css */
.ant-switch-loading::before,
.ant-switch-disabled::before,
.ant-switch-loading::after,
.ant-switch-disabled::after {
  cursor: not-allowed;
}

@-webkit-keyframes AntSwitchSmallLoadingCircle {
  0% {
    -webkit-transform: rotate(0deg) scale(0.66667);
    transform: rotate(0deg) scale(0.66667);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: rotate(360deg) scale(0.66667);
    transform: rotate(360deg) scale(0.66667);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}
@keyframes AntSwitchSmallLoadingCircle {
  0% {
    -webkit-transform: rotate(0deg) scale(0.66667);
    transform: rotate(0deg) scale(0.66667);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: rotate(360deg) scale(0.66667);
    transform: rotate(360deg) scale(0.66667);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}
/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
/* line 5, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  position: relative;
  width: 100%;
  height: 32px;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  width: 90px;
  margin: 0;
  padding: 0;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

/* line 30, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number::-moz-placeholder {
  color: #bfbfbf;
  opacity: 1;
}

/* line 34, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number:-ms-input-placeholder {
  color: #bfbfbf;
}

/* line 37, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number::-webkit-input-placeholder {
  color: #bfbfbf;
}

/* line 40, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number:hover {
  border-color: #40a9ff;
  border-right-width: 1px !important;
}

/* line 44, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number:focus {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

/* line 51, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 1;
}

/* line 57, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-disabled:hover {
  border-color: #e6d8d8;
  border-right-width: 1px !important;
}

/* line 61, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number[disabled] {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 1;
}

/* line 67, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number[disabled]:hover {
  border-color: #e6d8d8;
  border-right-width: 1px !important;
}

/* line 71, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
textarea.ant-input-number {
  max-width: 100%;
  height: auto;
  min-height: 32px;
  vertical-align: bottom;
  -webkit-transition: all 0.3s, height 0s;
  transition: all 0.3s, height 0s;
}

/* line 79, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-lg {
  height: 40px;
  padding: 6px 11px;
  font-size: 16px;
}

/* line 84, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-sm {
  height: 24px;
  padding: 1px 7px;
}

/* line 88, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-handler {
  position: relative;
  display: block;
  width: 100%;
  height: 50%;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.45);
  font-weight: bold;
  line-height: 0;
  text-align: center;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

/* line 101, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-handler:active {
  background: #f4f4f4;
}

/* line 104, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-handler:hover .ant-input-number-handler-up-inner,
.ant-input-number-handler:hover .ant-input-number-handler-down-inner {
  color: #40a9ff;
}

/* line 108, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-handler-up-inner,
.ant-input-number-handler-down-inner {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 4px;
  width: 12px;
  height: 12px;
  color: rgba(0, 0, 0, 0.45);
  line-height: 12px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 133, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-handler-up-inner > *,
.ant-input-number-handler-down-inner > * {
  line-height: 1;
}

/* line 137, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-handler-up-inner svg,
.ant-input-number-handler-down-inner svg {
  display: inline-block;
}

/* line 141, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-handler-up-inner::before,
.ant-input-number-handler-down-inner::before {
  display: none;
}

/* line 145, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-handler-up-inner .ant-input-number-handler-up-inner-icon,
.ant-input-number-handler-up-inner .ant-input-number-handler-down-inner-icon,
.ant-input-number-handler-down-inner .ant-input-number-handler-up-inner-icon,
.ant-input-number-handler-down-inner .ant-input-number-handler-down-inner-icon {
  display: block;
}

/* line 151, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number:hover {
  border-color: #40a9ff;
  border-right-width: 1px !important;
}

/* line 155, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-focused {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

/* line 162, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 1;
}

/* line 168, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-disabled:hover {
  border-color: #e6d8d8;
  border-right-width: 1px !important;
}

/* line 172, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-disabled .ant-input-number-input {
  cursor: not-allowed;
}

/* line 175, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-disabled .ant-input-number-handler-wrap {
  display: none;
}

/* line 178, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-input {
  width: 100%;
  height: 30px;
  padding: 0 11px;
  text-align: left;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  outline: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -moz-appearance: textfield;
}

/* line 191, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-input::-moz-placeholder {
  color: #bfbfbf;
  opacity: 1;
}

/* line 195, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-input:-ms-input-placeholder {
  color: #bfbfbf;
}

/* line 198, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-input::-webkit-input-placeholder {
  color: #bfbfbf;
}

/* line 201, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-lg {
  padding: 0;
  font-size: 16px;
}

/* line 205, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-lg input {
  height: 38px;
}

/* line 208, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-sm {
  padding: 0;
}

/* line 211, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-sm input {
  height: 22px;
  padding: 0 7px;
}

/* line 215, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-handler-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 100%;
  background: #fff;
  border-left: 1px solid #d9d9d9;
  border-radius: 0 4px 4px 0;
  opacity: 0;
  -webkit-transition: opacity 0.24s linear 0.1s;
  transition: opacity 0.24s linear 0.1s;
}

/* line 228, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-handler-wrap .ant-input-number-handler .ant-input-number-handler-up-inner,
.ant-input-number-handler-wrap .ant-input-number-handler .ant-input-number-handler-down-inner {
  display: inline-block;
  font-size: 12px;
  font-size: 7px \9;
  -webkit-transform: scale(0.58333333) rotate(0deg);
  -ms-transform: scale(0.58333333) rotate(0deg);
  transform: scale(0.58333333) rotate(0deg);
  min-width: auto;
  margin-right: 0;
}

/* line 239, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
:root .ant-input-number-handler-wrap .ant-input-number-handler .ant-input-number-handler-up-inner,
:root .ant-input-number-handler-wrap .ant-input-number-handler .ant-input-number-handler-down-inner {
  font-size: 12px;
}

/* line 243, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-handler-wrap:hover .ant-input-number-handler {
  height: 40%;
}

/* line 246, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number:hover .ant-input-number-handler-wrap {
  opacity: 1;
}

/* line 249, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-handler-up {
  cursor: pointer;
}

/* line 252, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-handler-up-inner {
  top: 50%;
  margin-top: -5px;
  text-align: center;
}

/* line 257, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-handler-up:hover {
  height: 60% !important;
}

/* line 260, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-handler-down {
  top: 0;
  border-top: 1px solid #d9d9d9;
  cursor: pointer;
}

/* line 265, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-handler-down-inner {
  top: 50%;
  margin-top: -6px;
  text-align: center;
}

/* line 270, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-handler-down:hover {
  height: 60% !important;
}

/* line 273, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-handler-up-disabled,
.ant-input-number-handler-down-disabled {
  cursor: not-allowed;
}

/* line 277, /home/oleg/work/bizness/shop/node_modules/antd/lib/input-number/style/index.css */
.ant-input-number-handler-up-disabled:hover .ant-input-number-handler-up-inner,
.ant-input-number-handler-down-disabled:hover .ant-input-number-handler-down-inner {
  color: rgba(0, 0, 0, 0.25);
}

/* line 1, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider {
  position: relative;
  height: 14px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  -ms-touch-action: none;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 12, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 16, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: #e9e9e9;
  height: 4px;
  border-radius: 6px;
}

/* line 23, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: #abe2fb;
}

/* line 30, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-handle {
  position: absolute;
  margin-left: -7px;
  margin-top: -5px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 50%;
  border: solid 2px #96dbfa;
  background-color: #fff;
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

/* line 45, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-handle:focus {
  border-color: #57c5f7;
  box-shadow: 0 0 0 5px #96dbfa;
  outline: none;
}

/* line 50, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-handle-click-focused:focus {
  border-color: #96dbfa;
  box-shadow: unset;
}

/* line 54, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-handle:hover {
  border-color: #57c5f7;
}

/* line 57, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-handle:active {
  border-color: #57c5f7;
  box-shadow: 0 0 5px #57c5f7;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* line 63, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px;
}

/* line 70, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999;
}

/* line 78, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-mark-text-active {
  color: #666;
}

/* line 81, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
}

/* line 87, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-dot {
  position: absolute;
  bottom: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}

/* line 99, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-dot-active {
  border-color: #96dbfa;
}

/* line 102, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-disabled {
  background-color: #e9e9e9;
}

/* line 105, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-disabled .rc-slider-track {
  background-color: #ccc;
}

/* line 108, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  border-color: #ccc;
  box-shadow: none;
  background-color: #fff;
  cursor: not-allowed;
}

/* line 115, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
  cursor: not-allowed !important;
}

/* line 119, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-vertical {
  width: 14px;
  height: 100%;
  padding: 0 5px;
}

/* line 124, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-vertical .rc-slider-rail {
  height: 100%;
  width: 4px;
}

/* line 128, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-vertical .rc-slider-track {
  left: 5px;
  bottom: 0;
  width: 4px;
}

/* line 133, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-vertical .rc-slider-handle {
  margin-left: -5px;
  margin-bottom: -7px;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

/* line 139, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-vertical .rc-slider-mark {
  top: 0;
  left: 18px;
  height: 100%;
}

/* line 144, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-vertical .rc-slider-step {
  height: 100%;
  width: 4px;
}

/* line 148, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-vertical .rc-slider-dot {
  left: 2px;
  margin-bottom: -4px;
}

/* line 152, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-vertical .rc-slider-dot:first-child {
  margin-bottom: -4px;
}

/* line 155, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-vertical .rc-slider-dot:last-child {
  margin-bottom: -4px;
}

/* line 158, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  animation-duration: .3s;
  animation-fill-mode: both;
  display: block !important;
  animation-play-state: paused;
}

/* line 165, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-tooltip-zoom-down-leave {
  animation-duration: .3s;
  animation-fill-mode: both;
  display: block !important;
  animation-play-state: paused;
}

/* line 171, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  animation-name: rcSliderTooltipZoomDownIn;
  animation-play-state: running;
}

/* line 176, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  animation-name: rcSliderTooltipZoomDownOut;
  animation-play-state: running;
}

/* line 180, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  transform: scale(0, 0);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

/* line 185, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-tooltip-zoom-down-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

@keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(0, 0);
  }
  100% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
}
@keyframes rcSliderTooltipZoomDownOut {
  0% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(0, 0);
  }
}
/* line 210, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 218, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-tooltip * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 222, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-tooltip-hidden {
  display: none;
}

/* line 225, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-tooltip-placement-top {
  padding: 4px 0 8px 0;
}

/* line 228, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #6c6c6c;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9;
}

/* line 241, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

/* line 248, /home/oleg/work/bizness/shop/node_modules/rc-slider/assets/index.css */
.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #6c6c6c;
}

/* line 23, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
.header {
  background-color: #eee;
}

/* line 27, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
.header-content {
  width: 1264px;
  margin: 0 auto;
  color: #333;
}

/* line 37, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
.input {
  font-size: 20px;
}

/* line 41, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
body {
  background: #fff;
}

/* line 45, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
.fluid {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: Arial;
  line-height: 1.3;
  font-size: 16px;
}

/* line 55, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
.fluid__instructions {
  flex: 0 0 auto;
  margin: 0 20px;
  margin-top: 150px;
}

/* line 61, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
.fixed__instructions {
  flex: 1;
  margin: 0 20px;
}

/* line 67, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
a {
  color: black;
}

/* line 71, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
a:hover {
  color: #666;
}

/* line 75, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
.code {
  font-family: Courier New, Courier, monospace;
}

@media (min-width: 480px) {
  /* line 80, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
  .fluid {
    flex-direction: row;
  }

  /* line 84, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
  .fluid__image-container {
    flex: 0 0 30%;
    margin: 20px 0 20px 20px;
    margin-top: 150px;
    z-index: 1;
  }

  /* line 91, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
  .fluid__instructions {
    flex: 0 0 50%;
    padding-top: 30px;
  }

  /* line 96, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
  .fixed__instructions {
    padding-top: 30px;
    margin: 0 10px;
  }

  /* line 101, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
  .portal {
    position: absolute;
    top: 40px;
    left: -30px;
  }
}
/* line 108, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
body {
  font-family: 'Roboto', sans-serif;
}

/* line 111, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
.ui-form {
  max-width: 350px;
  padding: 80px 30px 30px;
  margin: 50px auto 30px;
  background: white;
}

/* line 117, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
.ui-form h3 {
  position: relative;
  z-index: 5;
  margin: 0 0 60px;
  text-align: center;
  color: #4a90e2;
  font-size: 30px;
  font-weight: normal;
}

/* line 126, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
.ui-form h3:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 60px;
  top: -30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fee8e4;
}

/* line 137, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
.ui-form h3:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 50px;
  top: -40px;
  width: 0;
  height: 0;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  border-bottom: 90px solid #ffe3b5;
}

/* line 149, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
.form-row {
  position: relative;
  margin-bottom: 40px;
}

/* line 153, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
.form-row input {
  display: block;
  width: 100%;
  padding: 0 10px;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  background: none;
  border-width: 0;
  border-bottom: 2px solid #4a90e2;
  transition: all 0.2s ease;
}

/* line 164, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
.form-row label {
  position: absolute;
  left: 13px;
  color: #9d959d;
  font-size: 20px;
  font-weight: 300;
  transform: translateY(-35px);
  transition: all 0.2s ease;
}

/* line 173, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
.form-row input:focus {
  outline: 0;
  border-color: #F77A52;
}

/* line 177, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
.form-row input:focus + label,
.form-row input:valid + label {
  transform: translateY(-60px);
  margin-left: -14px;
  font-size: 14px;
  font-weight: 400;
  outline: 0;
  border-color: #F77A52;
  color: #F77A52;
}

/* line 187, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
.ui-form input[type="submit"] {
  width: 100%;
  padding: 0;
  line-height: 42px;
  background: #4a90e2;
  border-width: 0;
  color: white;
  font-size: 20px;
}

/* line 196, /home/oleg/work/bizness/shop/app/assets/stylesheets/application.scss */
.ui-form p {
  margin: 0;
  padding-top: 10px;
}
