/* line 7, /home/oleg/work/bizness/shop/app/assets/stylesheets/products.scss */
.title {
  margin-bottom: 10px;
}

/* line 9, /home/oleg/work/bizness/shop/app/assets/stylesheets/products.scss */
.title b {
  margin-left: 66px;
}

/* line 13, /home/oleg/work/bizness/shop/app/assets/stylesheets/products.scss */
.description {
  margin-bottom: 10px;
}

/* line 14, /home/oleg/work/bizness/shop/app/assets/stylesheets/products.scss */
.description b {
  margin-left: 26px;
}

/* line 17, /home/oleg/work/bizness/shop/app/assets/stylesheets/products.scss */
.full_description {
  margin-bottom: 10px;
}

/* line 20, /home/oleg/work/bizness/shop/app/assets/stylesheets/products.scss */
.price {
  margin-bottom: 10px;
}

/* line 21, /home/oleg/work/bizness/shop/app/assets/stylesheets/products.scss */
.price b {
  margin-left: 61px;
}

/* line 24, /home/oleg/work/bizness/shop/app/assets/stylesheets/products.scss */
.category b {
  margin-left: 40px;
}

/* line 27, /home/oleg/work/bizness/shop/app/assets/stylesheets/products.scss */
.uploaded_file b {
  margin-left: 55px;
}
