.social-icon-wrap {
  background: url("/imgs/social3.png");
  width: 50px;
  height: 55px;
  overflow: hidden;
  margin-right: 10px;
  cursor: pointer;
}

.instagram {
  background-position: 55px;
}

.social-icons {
  margin-left: 30px;
  margin-top: 20px;
  display: flex;
}

@media (max-width: 599px) {
  .social-icons {
    margin-left: 0;
  }
}
