development:
  adapter: postgresql
  database: dbname
  username: dbuser 
  password: dbpassword


test:
  adapter: postgresql
  database: dbname
  username: dbuser 
  password: dbpassword


production:
  adapter: postgresql
  database: dbname
  username: dbuser 
  password: dbpassword

