$black: #333;

//header *****************************************
.header{
    background-color: #333;
}

.header-content{
    width: 1400px;
    margin: 0 auto;
}
// end header************************************************