<div class="row">
	<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDdF6ZVjGbpj2xTC2VKAhpGZESg-qE4aOs"></script>
  <div class="col-md-2"> </div>
  <div class="col-md-6"> 
    <div id="map">
    </div> 
  </div>