%DOCTYPE
%html
  %head
    = javascript_pack_tag "Root"
    %title
      = "KILO магазин одежды и обуви"

  = stylesheet_pack_tag "application", media: "all"
  = csrf_meta_tags
%div{:id=>"modal-holder"}
%div{:id=>"root"}
-# = yield
